@import '../../assets/sass/colors.scss';

.presentation {
    color: $white;
    background-color: $blue;
    text-align: center;
    padding: 3%;

    &__label {
        font-size: 25px;
        border: 4px solid $white;
        text-align: center;
        display: inline-block;
        padding: 10px;
    }

    h2 {
        letter-spacing: 10px;
        text-transform: uppercase;
    }

    &__text {
        width: 70%;
        margin: auto;
        line-height: 30px;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        margin: 3%;

        li {
            list-style: none;
            width: 13%;
            margin: 2%;
        }
    }
}