@import '../../assets/sass/colors.scss';
@import '../../assets/sass/breakpoints.scss';

.presentation {
    color: $white;
    background-color: $blue;
    text-align: center;

    &__label {
        font-size: 25px;
        border: 4px solid $white;
        text-align: center;
        display: inline-block;
        padding: 10px;
    }

    h2 {
        letter-spacing: 10px;
        text-transform: uppercase;
    }

    &__text {
        width: 70%;
        margin: auto;
        line-height: 30px;

        @media (max-width: $screen-max-sm) {
            width: 100%;
        }
    }

    &__icons {
        display: flex;
        margin: 70px 0 50px;

        @media (max-width: $screen-max-sm) {
            flex-direction: column;
            margin: 50px 0 30px;
        }

        &-block {
            flex-basis: 100%;
            padding: 0 15px;

            @media (max-width: $screen-max-sm) {
                padding: 10px 0;
            }
        }
    }
}