@import "../../assets/sass/colors.scss";
@import "../../assets/sass/breakpoints.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 2;

    &__img {
        width: 180px;

        @media (max-width: $screen-max-xs) {
            width: 100px;
        }
    }
}