.dashboard {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
  }
  @media (min-width: 600px) {
    .modal {
      width: 500px;
      left: calc(50% - 250px);
    }
  }
  .metrics {
    display: flex;
    &__card {
      width: 21%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      margin: 0 2%;
      padding: 30px 0;
      .title {
        font-size: 14px;
      }
      .data {
        margin-top: 10px;
        font-size: 24px;
      }
    }
  }
}
