@import "../../../assets/sass/breakpoints";

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .buttons {
    display: flex;
    .edition,
    .delete {
      cursor: pointer;
      span {
        margin-left: 5px;
      }
    }
    .delete {
      margin-right: 15px;
    }
  }
  .edition {
    cursor: pointer;
    margin-left: 5px;
    span {
      margin-left: 5px;
    }
  }
}

.tasks {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    // display: flex;
    // flex-wrap: wrap;
    list-style-type: none;
    // justify-content: space-between;
  }
  .task {
    margin: 20px 0;
    box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    &__title {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    a {
      color: black;
    }
  }
}
