@import '../../../assets/sass/breakpoints';

.tasks {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-between;
    }
}