@import "../../assets/sass/colors.scss";

.btn {
    text-align: center;
    transition: all .3s;

    &:hover {
        transition: all .3s;
    }

    &__std-width {
        margin: auto;
        width: 50%;
    }

    &__large {
        padding: 12px 40px;
    }

    &__medium {
        padding: 10px 20px;
    }

    &__letter-spacing {
        letter-spacing: 4px;
    }

    &__rounded {
        border-radius: 30px;
    }

    &__bwr {
        border-radius: 10px;
    }

    &__green {
        color: $white;
        background-color: $emeraud;
        border: 2px solid $emeraud;
        border-radius: 3px;

        &:hover {
            color: $emeraud;
            background-color: transparent;
        }
    }

    &__red {
        color: $white;
        background-color: $red;
        border: 2px solid $red;
        border-radius: 3px;
    }




    &__light-grey {
        color: $black;
        background-color: $white;
        border: 2px solid $greensea;
        border-radius: 3px;
    }

    &__black {
        color: $black;
        border: 2px solid $black;
        text-transform: uppercase;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    &__white {
        color: $white;
        border: 2px solid $white;
        text-transform: uppercase;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }

    &__blue {
        color: $white;
        background-color: $blue;
        border: 2px solid $blue;
        text-transform: uppercase;
    }
}