.client {
    margin: 20px 0;
    padding: 20px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        p {
            margin: 0;
        }
        a {
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}