@import '../../assets/sass/colors';
@import '../../assets/sass/breakpoints';

.hero {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 50px;

    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        text-align: left;
    }

    &__footer {
        position: absolute;
        bottom: 50px;
        left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 100px);
    }
}