@import '../../assets/sass/breakpoints';

.dashboard {
    display: flex;
    flex-direction: column;
    &__content {
        width: 80%;
        margin-left: 20%;
        text-align: left;
        padding: 100px 50px 50px;

        @media (max-width: $screen-max-md) {
            width: 100%;
            margin-left: 0;
            padding: 15px;
        }
    }
}