.project {
    margin: 20px 0;
    box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
    padding: 20px;

    &__header {
        display: flex;
        justify-content: space-between;
        a {
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}