@import "../../assets/sass/colors.scss";
@import "../../assets/sass/breakpoints.scss";

.listblock {
    display: flex;
    text-align: left;

    @media (max-width: $screen-max-md) {
        flex-direction: column;
    }

    &__left {
        padding-right: 50px;

        @media (max-width: $screen-max-md) {
            padding: 0;
        }

        .title-label {
            text-transform: uppercase;
            font-size: 11px;
            color: $darkgrey;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .title {
            font-size: 30px;
            color: #434242;
        }

        .text {
            line-height: 24px;
        }
    }
    &__right {
        padding-left: 50px;

        @media (max-width: $screen-max-md) {
            padding: 0;
        }

        .list {
            &__item {
                position: relative;
                padding-left: 60px;

                @media (max-width: $screen-max-sm) {
                    padding-left: 70px;
                }
                &-number {
                    position: absolute;
                    left: -10px;
                    top: -10px;
                    width: 50px;
                    height: 50px;
                    background-color: $greensea;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $white;
                    font-size: 26px;
                    font-weight: bold;

                    @media (max-width: $screen-max-sm) {
                        left: 0;
                    }
                }
                &-title {
                    font-size: 30px;
                    color: #434242;
                    margin: 30px 0;
                }
                &-text {
                    line-height: 28px;
                }
            }
        }
    }
}