@import "../../assets/sass/colors.scss";
@import "../../assets/sass/breakpoints.scss";

.listblock {
    display: flex;
    padding: 50px;
    text-align: left;

    @media (max-width: $screen-max-md) {
        flex-direction: column;
    }

    @media (max-width: $screen-max-sm) {
     padding: 20px;
    }

    &__left {
        padding-right: 50px;

        @media (max-width: $screen-max-sm) {
            padding: 0;
        }

        .title-label {
            text-transform: uppercase;
            font-size: 11px;
            color: $darkgrey;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .title {
            font-size: 30px;
            color: #434242;
        }

        .text {
            line-height: 24px;
        }
    }
    &__right {
        padding-left: 50px;

        @media (max-width: $screen-max-sm) {
            padding: 0;
        }
    }
}