@import '../../assets/sass/colors';
@import '../../assets/sass/breakpoints';

.navbar {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
  0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
  0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
  0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 50px;

    @media (max-width: $screen-max-md) {
      margin: 10px 0 10px 15px;
    }
    img {
      max-width: 150px;
      @media (max-width: $screen-max-sm) {
        max-width: 100px;
      }
    }
  }
  &__right {
    display: flex;
    margin: 10px 50px 10px 0;

    @media (max-width: $screen-max-md) {
      margin: 10px 15px 10px 0;
    }
    .infos {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      .name {
        opacity: 0.8;
        white-space: nowrap;
        font-size: 0.88rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: left;
      }
      .work {
        opacity: 0.5;
        font-size: 0.8rem;
        white-space: nowrap;
        line-height: 1.5;
        color: #495057;
        text-align: left;
      }
    }
  }
  .logout {
    &__btn {
      box-shadow: 0 0.125rem 0.625rem rgba(68, 64, 84, 0.4),
      0 0.0625rem 0.125rem rgba(68, 64, 84, 0.5);
      color: #fff;
      background-color: $black;
      cursor: pointer;
      border: 2px solid $black;
      border-radius: 50px;
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      transition: all .3s;

      &:hover {
        color: $black;
        background-color: transparent;
        transition: all .3s;
      }
      &-text {
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }
}
