@import '../../../assets/sass/breakpoints';

.sprints {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }
}

.project__details {
    &-cards {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        @media (max-width: $screen-max-sm) {
            flex-direction: column;
        }
    }
    &-block {
        width: 30%;
        padding: 15px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        @media (max-width: $screen-max-sm) {
            width: 100%;
            margin: 10px 0;
        }

        .label {
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 11px;
            text-transform: uppercase;
        }
    }
}