@import "../../assets/sass/colors.scss";
@import '../../assets/sass/breakpoints';

.sidebar {
  width: 30%;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 60px;
  box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);

  @media (max-width: $screen-max-md) {
    width: 100%;
    margin-left: 0;
    position: relative;
    min-height: unset;
    left: unset;
    top: unset;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
    list-style: none;
    padding: 0;
    text-align: left;

    @media (max-width: $screen-max-md) {
      margin: 15px 5px;
      flex-direction: row;
    }
    li {
      margin: 5px 0;
      a {
        padding: 10px;
        display: block;
        color: #333;
        &:hover {
          background-color: $lightblue;
          border-radius: 4px;
        }
      }
    }
  }
}
