@import '../../assets/sass/colors';
@import '../../assets/sass/breakpoints';

.Register {
    background-size: cover;
    width: 100%;
    padding: 18% 0;

    h3 {
        color: $greensea;
        font-size: 1.5em;
    }

    p {
        font-size: 1.2em;
        line-height: 30px;
        margin: 5vh 0;
    }

    .Container {
        margin: auto;
        width: 70%;
        background-color: $white;
        box-shadow: 5px 10px 20px 5px grey;
        padding: 6% 20%;
    }
}