@import "../../../assets/sass/colors.scss";

.sprintDisplay {
    width: 20%;
    margin: 5px;
    padding: 5px;

    &:hover {
        background-color: $lightblue;
        border-radius: 4px;
    }
}