@import '../../assets/sass/colors';
@import '../../assets/sass/breakpoints';

.footer {
    padding: 40px;
    background-color: $darkblue;
    color: $white;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $screen-max-xs) {
            flex-direction: column;
        }

        &-logo {
            @media (max-width: $screen-max-xs) {
                margin:5px 0;
            }
        }

        &-copyright {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;

            @media (max-width: $screen-max-xs) {
                margin:5px 0;
            }
        }

        &-socials {
            display: flex;
            flex-direction: row;

            @media (max-width: $screen-max-xs) {
                margin:5px 0;
            }
            &-link {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
                color: $white;
                width: 30px;
                height: 30px;
                border: 1px solid white;
                border-radius: 50%;
                transition: all .3s;

                &:hover {
                    color: $emeraud;
                    border-color: $emeraud;
                    transform: rotate(360deg);
                    transition: all .3s;
                }
            }
        }
    }
}