@import '../../assets/sass/colors';
@import '../../assets/sass/breakpoints';

.footer {
    padding: 40px;
    background-color: $darkblue;
    color: $white;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $screen-max-xs) {
            flex-direction: column;
        }

        &-logo {
            @media (max-width: $screen-max-xs) {
                margin:5px 0;
            }
        }

        &-copyright {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;

            @media (max-width: $screen-max-xs) {
                margin:5px 0;
            }
        }
    }
}