.client {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .buttons {
      display: flex;
      .edition,
      .delete {
        display: flex;
        cursor: pointer;
        span {
          margin-left: 5px;
        }
      }
      .delete {
        margin-right: 15px;
      }
    }
    .edition {
      display: flex;
      cursor: pointer;
      margin-left: 5px;
      span {
        margin-left: 5px;
      }
    }
  }
}
