$greensea: #1ABC9C;
$emeraud: #2ECC71;
$black: #434242;
$red: #E74C3C;
$lightgrey: #ECF0F1;
$darkgrey: #95A5A6;
$blue: #2091DC;
$darkblue: #34495E;
$white: #fff;
$lightblue: #cef0fa;

:export {
    greensea: $greensea;
    emeraud: $emeraud;
    black: $black;
    red: $red;
    lightgrey: $lightgrey;
    darkgrey: $darkgrey;
    blue: $blue;
    darkblue: $darkblue;
    white: $white;
    lightblue: $lightblue;
}