@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@import '../../assets/sass/breakpoints';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  display: block;
  text-decoration: none;
  transition: all .3s;

  &:hover {
    transition: all .3s;
  }
}

ul {
  margin: 0;
}

.fwb {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

.container {
  padding: 50px;

  @media (max-width: $screen-max-md) {
    padding: 20px;
  }
}
